@font-face {
  src: url("./billabong.otf");
  font-family: billabong;
}

body {
  background-color: #00000005;
}

.instafont {
  font-family: billabong;
  text-align: center;
  margin: 20px 0 30px 0;
  font-size: 50px;
}

.container {
  display: flex;
}

.blank {
  flex: 0.25;
}

.loginpic {
  flex: 0.25;
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}


.loginspace {
  margin-left: 10px;
  flex: 0.25;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 0.7;
  border: 1px solid lightgray;
  margin: 10px;
  background-color: white;
}

.middle {
  flex: 0.05;
  border: 1px solid lightgray;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.middle :hover{
  cursor : pointer;
}

.bottom {
  flex: 0.25;
  text-align: center;
  margin: 10px;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding: 15px;
  width: 80%;
  margin-bottom: 10px;
  background-color: #00000005;
  border: 1px solid lightgray;
}

.loginbtn {
  display: block;
  border-radius: 3px;
  background-color: skyblue;
  color: white;
  text-align: center;
  width: 89%;
  height: 10%;
  margin: 10px auto;
  border: 1px solid lightgray;
  font-weight: bold;
  font-size: 15px;
  
}

.or {
  margin: 20px;
  text-align: center;
  color: gray;
}

.facebooklogin {
  text-decoration: none;
  text-align: center;
  color: navy;
  margin-bottom: 20px;
  font-weight: bold;
}

.forgetpw {
  text-decoration: none;
  text-align: center;
  color: teal;

}

.download {
  width: 40%;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.link {
  text-align: center;
}

.graylink {
  color: grey;
  font-size: 12px;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
}

.year {
  color: grey;
  font-size: 12px;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  margin: 20px;
}